* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

main header {
  height: 100vh;
}

main header .menssage {
  background-color: black;
  color: white;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 1.8rem;
}

main header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20rem;
}

main header .menu figure img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
}

main header .menu div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

main header .menu div ul li i {
  color: #000;
  font-size: 1.8rem;
  padding: 0 2rem;
}

main header .portada {
  background-color: yellowgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main header .portada .image {
  width: 50%;
}

main header .portada .image button {
  position: absolute;
  background-color: black;
  border: none;
  padding: 2rem 4rem;
  border-radius: 50px;
  top: 68rem;
  left: 5rem;
}

main header .portada .image button a {
  text-decoration: none;
  color: #fff;
  font-family: lato;
  font-weight: bold;
}

main header .portada .image figure {
  width: 100%;
  height: 100vh;
}

main header .portada .image figure img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

main header .portada .text {
  background-color: #fff;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

main header .portada .text h1 {
  margin-top: 5rem;
  text-align: center;
  font-size: 8rem;
  font-weight: 900;
}

main header .portada .text p {
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 1rem;
}

main header .portada .text figure {
  margin: 4rem 2.5rem 0 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 13rem;
  height: 13rem;
}

main header .portada .text figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

main .Favorites {
  margin-top: 10rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .Favorites h2 {
  font-size: 3rem;
  margin-top: 5rem;
}

main .Favorites .objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem;
  width: 100%;
}

main .Favorites .objects div {
  padding: 5rem;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .Favorites .objects div figure {
  width: 30rem;
  height: 30rem;
}

main .Favorites .objects div figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

main .Favorites .objects div span {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

main .Favorites .objects div p {
  font-size: 1.5rem;
}

main .two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .two-columns figure {
  height: 25rem;
  width: 50rem;
}

main .two-columns figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

main .four_four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .four_four h3 {
  font-size: 2.5rem;
  text-align: center;
  margin: 10rem 0 5rem 0;
}

main .four_four .products {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "uno dos tres cuatro"
 "cinco seis siete ocho";
}

main .four_four .products .juguetes1 {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: uno;
}

main .four_four .products .juguetes1 figure {
  width: 20rem;
  height: 20rem;
}

main .four_four .products .juguetes1 figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .four_four .products .juguetes1 span {
  font-size: 2rem;
}

main .four_four .products .juguetes1 p {
  font-size: 1.5rem;
}

main .four_four .products .juguetes2 {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: dos;
}

main .four_four .products .juguetes2 figure {
  width: 20rem;
  height: 20rem;
}

main .four_four .products .juguetes2 figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .four_four .products .juguetes2 span {
  font-size: 2rem;
}

main .four_four .products .juguetes2 p {
  font-size: 1.5rem;
}

main .four_four .products .juguetes3 {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: tres;
}

main .four_four .products .juguetes3 figure {
  width: 20rem;
  height: 20rem;
}

main .four_four .products .juguetes3 figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .four_four .products .juguetes3 span {
  font-size: 2rem;
}

main .four_four .products .juguetes3 p {
  font-size: 1.5rem;
}

main .four_four .products .juguetes4 {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: cuatro;
}

main .four_four .products .juguetes4 figure {
  width: 20rem;
  height: 20rem;
}

main .four_four .products .juguetes4 figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .four_four .products .juguetes4 span {
  font-size: 2rem;
}

main .four_four .products .juguetes4 p {
  font-size: 1.5rem;
}

main .four_four .products .juguetes5 {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cinco;
}

main .four_four .products .juguetes5 figure {
  width: 20rem;
  height: 20rem;
}

main .four_four .products .juguetes5 figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .four_four .products .juguetes5 span {
  font-size: 2rem;
}

main .four_four .products .juguetes5 p {
  font-size: 1.5rem;
}

main .four_four .products .juguetes6 {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: seis;
}

main .four_four .products .juguetes6 figure {
  width: 20rem;
  height: 20rem;
}

main .four_four .products .juguetes6 figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .four_four .products .juguetes6 span {
  font-size: 2rem;
}

main .four_four .products .juguetes6 p {
  font-size: 1.5rem;
}

main .four_four .products .juguetes7 {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: siete;
}

main .four_four .products .juguetes7 figure {
  width: 20rem;
  height: 20rem;
}

main .four_four .products .juguetes7 figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .four_four .products .juguetes7 span {
  font-size: 2rem;
}

main .four_four .products .juguetes7 p {
  font-size: 1.5rem;
}

main .four_four .products .juguetes8 {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: ocho;
}

main .four_four .products .juguetes8 figure {
  width: 20rem;
  height: 20rem;
}

main .four_four .products .juguetes8 figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .four_four .products .juguetes8 span {
  font-size: 2rem;
}

main .four_four .products .juguetes8 p {
  font-size: 1.5rem;
}

main .four_four button {
  width: 10rem;
  height: 4rem;
  border-radius: 50px;
  border: none;
  background-color: #000;
}

main .four_four button a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

main .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10rem;
}

main .footer .logo_footer {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 1rem;
}

main .footer .logo_footer figure {
  width: 10rem;
  height: 10rem;
}

main .footer .logo_footer figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .footer .form {
  width: 20%;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .footer .form h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

main .footer .form span {
  font-size: 1.3rem;
}

main .footer .form .button {
  background-color: black;
  color: #fff;
  width: 8rem;
  height: 2rem;
  border-radius: 20px;
  border: none;
  margin-top: 1rem;
  position: relative;
  right: 17.5rem;
  top: 3rem;
}

main .footer .support {
  width: 20%;
  padding: 2rem 1rem;
  padding: 2rem 1rem;
}

main .footer .support h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

main .footer .support span {
  font-size: 1.5rem;
}

main .footer .info {
  width: 20%;
  padding: 2rem 1rem;
}

main .footer .info h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

main .footer .info ul {
  list-style: none;
}

main .footer .info ul li {
  font-size: 1.5rem;
  padding: 0.2rem;
}

main .footer .social {
  width: 20%;
  padding: 2rem 1rem;
}

main .footer .social ul {
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "yt tw tww pin"
 "tik fac ins red";
  list-style: none;
}

main .footer .social ul .yt {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: yt;
}

main .footer .social ul .yt i {
  font-size: 4rem;
}

main .footer .social ul .tw {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tw;
}

main .footer .social ul .tw i {
  font-size: 4rem;
}

main .footer .social ul .tww {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: tww;
}

main .footer .social ul .tww i {
  font-size: 4rem;
}

main .footer .social ul .pin {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: pin;
}

main .footer .social ul .pin i {
  font-size: 4rem;
}

main .footer .social ul .tik {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tik;
}

main .footer .social ul .tik i {
  font-size: 4rem;
}

main .footer .social ul .fac {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fac;
}

main .footer .social ul .fac i {
  font-size: 4rem;
}

main .footer .social ul .ins {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: ins;
}

main .footer .social ul .ins i {
  font-size: 4rem;
}

main .footer .social ul .red {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: red;
}

main .footer .social ul .red i {
  font-size: 4rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  margin-top: 2rem;
  padding: 2rem;
}
/*# sourceMappingURL=style.css.map */